prefect==2.6.9
#prefect[viz,postgres]
#prefect[all_extras]
#graphviz
SQLAlchemy-Continuum==1.3.13
SQLAlchemy-Utils==0.37.8
SQLAlchemy==1.4.44
alembic==1.7.5
pandas
pycountry==20.7.3
requests==2.25.1
prefect-dask
httpx==0.23.0
anyio
#git+https://github.com/bcgov/lear.git#egg=legal_api&subdirectory=legal-api
git+https://github.com/bcgov/business-schemas.git@2.15.34#egg=registry_schemas
